.showcase-phone__phone {
    border-color: var(--phone-black);
    background-color: var(--phone-black);
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    width: 300px;
    height: 500px;
    margin: auto;
}

.showcase-phone__upper-phone, .showcase-phone__lower-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--phone-black);
    height: 40px;
}

.showcase-phone__phone-speaker {
    height: 1px;
    width: 25%;
    background-color: #888;
}

.showcase-phone__home-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #888;
    margin: auto;
}

.showcase-phone__children {
    overflow-y: scroll;
    height: 100%;
}

.showcase-phone__inner-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-color: var(--phone-black);
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}